<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petstore.app.mapper.PetMapper">

	<select id = "findAll" resultType="com.petstore.app.entity.Pet">
		SELECT * FROM pet;
	</select>
	
	<select id = "findById" resultType="com.petstore.app.entity.Pet">
		SELECT * FROM pet WHERE id = #{id};
	</select>
	
	<select id = "findByName" resultType = "com.petstore.app.entity.Pet">
		SELECT * FROM pet WHERE name = #{name};
	</select>
	
	<select id = "findByStatus" resultType = "com.petstore.app.entity.Pet">
		SELECT * FROM pet WHERE status = #{status};
	</select>
	
	<select id = "findByTag" resultType = "com.petstore.app.entity.Pet">
		SELECT * FROM pet
			JOIN pet_tag ON pet.id = pet_tag.pet_id
			JOIN tag ON pet_tag.tag_id = tag.id
		 WHERE tag.name = #{name};
	</select>

	<insert id = "insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pet(category_id, name, status) VALUES(#{categoryId}, #{name}, 'available');
	</insert>
	
	<update id = "update">
		UPDATE pet SET
			category_id = #{categoryId},
			name = #{name},
			status = #{status}
		WHERE id = #{id};
	</update>
	
	<delete id = "delete">
		DELETE FROM pet WHERE id = #{id};
	</delete>

</mapper>